@import "../../assets/styles/colors.scss";
@import "../../assets/styles/fonts.scss";

form {
      .btn {
            background-color: $color2;
    
            font: {
            family: "Graphik-Regular", sans-serif;
            size: 1rem;
            weight: normal;
            }
        
            &:hover {
            background-color: $color6;
            }
      }
}