@import "../../assets/styles/colors.scss";
@import "../../assets/styles/fonts.scss";

.step {
      background-color: $color1;
  
      p {
            color: $color6;
    
            font: {
                  family: "Graphik-Regular", sans-serif;
                  size: 1.5rem;
                  weight: normal;
            }
      }
}