@import "../../assets/styles/fonts.scss";
@import "../../assets/styles/colors.scss";

// DEBUT FOOTER ---------------
footer {
      background-color: $color2;
    
      h4, p {
            color:$color4;
      
            font: {
                  family: "Graphik-Bold", sans-serif;
                  size: 1.0rem;
                  weight: normal;
            }
      }
    
      .nav-link {
            color: $color1;
      
            font: {
                  family: "Graphik-Bold", sans-serif;
                  size: 1.2rem;
                  weight: normal;
            }
      
            &:focus {
                  color: $color6;
            }
      }
    
      // DEBUT DECORATION FOOTER ----------
      .decoration-footer {
            background-color: $color2;
            width: 100%;
            height: 5vh;
            display: flex;
            justify-content: center;

            .decoration-footer-left {
                  background-color: $color1;
                  width: 3%;
                  height: 5vh;
                  border-bottom-left-radius: 70%;
                  border-bottom: 5px solid $color5;
                  border-left: 3px solid $color5;
            }

            // MODIFICATION EN DESOUS DE 480 PX.
            @media screen and (max-width: 480px) {
                  .decoration-footer-left {
                        width: 10%;
                        border-bottom-left-radius: 80%; 
                  }
            }
      
            .decoration-footer-center {
                  background-color: $color1;
                  width: 74%;
                  height: 5vh;
                  border-bottom: 5px solid $color5;
            }
      
            @media screen and (max-width: 480px) {
                  .decoration-footer-center {
                        width: 60%;
                  }
            }

            .decoration-footer-right {
                  background-color: $color1;
                  width: 3%;
                  border-bottom-right-radius: 70%;
            }

            @media screen and (max-width: 480px) {
                  .decoration-footer-right {
                        width: 10%;
                        border-bottom-right-radius: 80%;
                  }
            }
      }  
}