@import "./assets/styles/fonts.scss";
@import "./assets/styles/colors.scss";


// BACKGROUND DU SITE -----------
.App {
  background-color: $color1;
}

// DEBUT MAIN ---------------
main {
  background-color: $color1;

  h1, h2, p {
    color: $color3;

    font: {
      family: "Graphik-Bold", sans-serif;
      size: 2rem;
      weight: normal;
    }
  }

  // DEBUT DECORATION MAIN ----------
  .decoration-main {
    background-color: $color0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    
    .decoration-main-left {
      background-color: $color1;
      width: 3%;
      height: 5vh;
      border-top-left-radius: 70%;
    }

    // MODIFICATION EN DESOUS DE 480 PX.
    @media screen and (max-width: 480px) {
      .decoration-main-left {
        width: 10%;
        border-top-left-radius: 80%; 
      }
    }

    .decoration-main-center {
      background-color: $color1;
      width: 74%;
      height: 5vh;
      border-top: 5px solid $color5;
    }

    @media screen and (max-width: 480px) {
      .decoration-main-center {
        width: 60%;
      }
    }

    .decoration-main-right {
      background-color: $color1;
      width: 3%;
      height: 5vh;
      border-top-right-radius: 70%;
      border-top: 5px solid $color5;
      border-right: 3px solid $color5;
    }

    @media screen and (max-width: 480px) {
      .decoration-main-right {
        width: 10%;
        border-top-right-radius: 80%;
      }
    }
  }
}

// DEBUT LOGO ERREUR 404 -----------
.error {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 60px black, 30px 0 60px grey;
  display: block;
  margin: auto;
} 

// DEBUT LOGO FELICITATION ----------
.felicitation {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 60px goldenrod, 30px 0 60px gold;
  display: block;
  margin: auto;
}




